.elementor-3451 .elementor-element.elementor-element-ef6eb25:not(.elementor-motion-effects-element-type-background), .elementor-3639 .elementor-element.elementor-element-ef6eb25 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #00142C;
}
.elementor-3451 .elementor-element.elementor-element-dbce0e7 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #011936;
    border-width: 0px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
}
.elementor-3451 .elementor-element.elementor-element-dbce0e7 .elementor-field-group .elementor-field {
    color: #828FA0;
}
.elementor-3451 .elementor-element.elementor-element-dbce0e7 .elementor-button[type="submit"] {
    background-color: #0EC9AC;
}
.elementor-3451 .elementor-element.elementor-element-dbce0e7 .elementor-field-group {
    padding-right: calc( 15px/2 );
    padding-left: calc( 15px/2 );
    margin-bottom: 20px;
}
.elementor-3451 .elementor-element.elementor-element-65d75fe .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 42px;
}
.elementor-3451 .elementor-element.elementor-element-3551a88 .elementor-icon-list-text {
    color: #828FA0;
}
.elementor-3451 .elementor-element.elementor-element-3551a88 .elementor-icon-list-text {
    color: #828FA0;
}
.elementor-3451 .elementor-element.elementor-element-f189433 > .elementor-widget-container {
    margin: 0px 15px 0px 0px;
}
.elementor-3451  .elementor-element.elementor-element-f189433 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 42px;
}
.elementor-3451 .elementor-element.elementor-element-ef6eb25 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 75px 0px 75px 0px;
}
.elementor-3451 .elementor-element.elementor-element-666cbab .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.elementor-3451 .elementor-element.elementor-element-fe26197 {
    color: #828FA0;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.elementor-3451 .elementor-element.elementor-element-b474c88 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 42px;
}
.elementor-column, .elementor-column-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-column {
    min-height: 1px;
}
.elementor-3451 .elementor-element.elementor-element-457bf9d .elementor-icon-list-text {
    color: #828FA0;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-section {
    position: relative;
}
.elementor-3451 .elementor-element.elementor-element-16fb002.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-3451 .elementor-element.elementor-element-16fb002 > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
}
.elementor-3451 .elementor-element.elementor-element-0730c4a {
    text-align: left;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.elementor-widget {
    position: relative;
}
.elementor-3451 .elementor-element.elementor-element-0730c4a .elementor-heading-title {
    color: #0EC9AC;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}
.elementor-3451 .elementor-element.elementor-element-666cbab {
    text-align: left;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
}
.elementor-element {
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: var(--flex-direction);
    flex-direction: var(--flex-direction);
    -ms-flex-wrap: var(--flex-wrap);
    flex-wrap: var(--flex-wrap);
    -webkit-box-pack: var(--justify-content);
    -ms-flex-pack: var(--justify-content);
    justify-content: var(--justify-content);
    -webkit-box-align: var(--align-items);
    -ms-flex-align: var(--align-items);
    align-items: var(--align-items);
    -ms-flex-line-pack: var(--align-content);
    align-content: var(--align-content);
    gap: var(--gap);
    -ms-flex-preferred-size: var(--flex-basis);
    flex-basis: var(--flex-basis);
    -webkit-box-flex: var(--flex-grow);
    -ms-flex-positive: var(--flex-grow);
    flex-grow: var(--flex-grow);
    -ms-flex-negative: var(--flex-shrink);
    flex-shrink: var(--flex-shrink);
    -webkit-box-ordinal-group: var(--order);
    -ms-flex-order: var(--order);
    order: var(--order);
    -ms-flex-item-align: var(--align-self);
    align-self: var(--align-self);
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
section {
    display: block;
}

@media (min-width: 768px){
.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}   
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}